$primary-color: #7174E0;
$secondary-color: #0c2b4b;
$white-color: #7C7FF6;
$heading-color: #7C7FF6;
$para-color: #5C5C5C;
$black-color: #000000;
$heading-color-2: #323232;
$normal-color: #1c1c1c;
$background: #000000;
$background-2: #000000;
$border: #000000;
$border-1: #1e1c1c;

$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;